@tailwind base;
@tailwind components;
@tailwind utilities;

.header-container {
  width: 1360px;
  height: 48px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 8px;
  background-color: #FBEBBF;

  /* Remove scrolling */
  overflow-x: hidden;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.icons {
  display: flex;
}

/* Responsive styles */
@media (max-width: 768px) {
  .header-container {
    width: 100%; /* Full width for mobile */
    flex-direction: column; /* Stack items vertically */
    height: auto;
  }

  .nav-links {
    flex-direction: column; /* Stack links vertically */
    gap: 4px; /* Reduce gap for mobile */
  }

  .icons {
    margin-top: 8px; /* Adjust icon positioning */
  }
}
